
<div class="conatiner-fluid">
    <div class="row">
        <img src= "../../../assets/conatct_cover.jpg" alt ='cover_image' class='cover img-fluid '>

    </div>
    <div class="row">
        <div class="col text-center mr-5">
            <img src = "../../../assets/contact.jpg" alt= 'contact' class='img-fluid'>
            
        </div>
        <div class="col-1 mr-2 pr-5">
            <div class= 'vertical-line '> </div>
           
        </div>
        <div class="col ">
            <div class = 'text'>
                <h4>
                    Contact
                </h4>
                <h6>Lets connect</h6>
                <p>Thank you for your interest in Venice First as your travel based Event Planning Company. Please use the contact form for any inquires. We can’t wait to get to know you!</p>

                <h4>Address</h4>
                <h6> Dorsoduro 948 30123, Venice, Italy</h6>

                <h4>Address</h4>
                <h6> Dorsoduro 948 30123, Venice, Italy</h6>

                <h4>Address</h4>
                <h6> Dorsoduro 948 30123, Venice, Italy</h6>
            </div>
           
        </div>
    </div>
</div>

<div class='conatiner '>
    <div class=" clr pt-5">
        
            <div class=" text-center inner">
                <h3 class='text-danger'> Enquiries </h3>
                <form #f="ngForm" (ngSubmit) = "onSubmit(f)">
                    <div class="form-group">
                        <label for ="name"> Name</label>
                        <input 
                        type="text"
                        id='name'
                        class="form-control"
                        ngModel
                        name="name"
                        required>
                    </div>

                    <div class="form-group">
                        <label for ="phone"> Phone</label>
                        <input 
                        type="text"
                        id='phone'
                        class="form-control"
                        ngModel
                        name="phone"
                        required
                        pattern="(?:\s+|)((0|(?:(\+|)91))(?:\s|-)*(?:(?:\d(?:\s|-)*\d{9})|(?:\d{2}(?:\s|-)*\d{8})|(?:\d{3}(?:\s|-)*\d{7}))|\d{10})(?:\s+|)"
                        #phone = "ngModel">
                        <span *ngIf="!phone.valid && phone.touched" 
                        class= 'help-block'>Please enter valid conatct no.</span>
                    </div>

                    <div class="form-group">
                        <label for ="email"> Email</label>
                        <input 
                        type="text"
                        id='email'
                        class="form-control"
                        ngModel
                        name="email"
                        required
                        email
                        #email = "ngModel">
                        <span *ngIf="!email.valid && email.touched" 
                        class= 'help-block'>Please enter valid email</span>
                    </div>

                    <!-- <div class="form-group mx-5">
                        <label for ="confirmemail"> Confirm Email</label>
                        <input 
                        type="text"
                        id='confirmemail'
                        class="form-control"
                        ngModel
                        name="confirmemail"
                        required
                        email
                        #confirm = "ngModel">
                        <span *ngIf="!confirm.valid && confirm.touched " 
                        class= 'help-block'>Please enter valid email</span>
                    </div> -->
                    <div class="form-group mt-5">
                        <label for="cars">Event Type</label>
                        <select name="type" ngModel placeholder= 'SELECT'>
                            <option value="" disabled selected hidden>Please Choose...</option>
                            <option *ngFor="let t of type">{{t}}</option>
                        </select>  
                        </div>

                    <div class="form-group">
                        <label for ="more"> Tell Us More About Your Event</label>
                        <textarea
                        id='more'
                        class="form-control"
                        ngModel
                        name="more">
                        
                    </textarea>
                    </div>

                    <button 
                    class="btn btn-primary mt-5" 
                    type="submit"
                    [disabled] ="!f.valid">
                    Submit
                </button>

                </form>
            </div>
        
    </div>
    

</div>