*{
box-sizing: border-box;
}
.site-footer{
	width: 85%;
	border-style: solid;
	border-color: cornflowerblue;

}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  /* border-bottom: 1px solid #373636; */
  

}
.single-cta img {
  color: white;
  font-size: 30px;
  float: left;
  margin-top: 8px;

}
/* .footer-cta img{
	/* display: block; */
	/* display: flex;
	float: right;

 		 margin-left: auto;
		  margin-right: auto;
		  max-width: 200px;
  margin-top: 8px; 

} */
.cta-text {
  padding-left: 15px;
  
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  margin-right: 15px;
}



.footer-widget-heading h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  margin-top: 10%;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
  
}

.footer-widget ul li a:hover{
  color: white;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: white;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.logos{
    width: 40px;
    height : 40px;
    margin-right: 10px;
    
}

.logo{
    width: 30%;
    height : 10%
}

.marker{
    width: 20px;
	height : 20px;
	
    
}

@media only screen and (max-width: 350px){
	.footer-logo {
		margin-bottom: 30px;
	  }
	  .footer-logo img {
		  
		  display: block;
 		 margin-left: auto;
		  margin-right: auto;
		  max-width: 200px;
	  }

	  .footer-social-icon span {
		text-align: center;
		color: #fff;
		display: block;
		font-size: 20px;
		font-weight: 300;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 20px;
	  }
	  

	  .fblogo {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 40px;
   		height : 40px;
	}
	
	#images{
		text-align:center;
	}

	.footer-widget-heading h3 {
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 20px;
		margin-top: 20px;
		position: relative;

		text-align: center;
	  }

	  .footer-text p {
		margin-bottom: 14px;
		font-size: 14px;
		color: #7e7e7e;
		line-height: 28px;
		text-align: center;
	  }
	  .footer-cta {
		margin-left : 22%;
	  }

	  
	.cta-text span {
		color: #757575;
		font-size: 10px;
	  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 351px) {
	.footer-logo {
		margin-bottom: 30px;
	  }
	  .footer-logo img {
		  
		  display: block;
 		 margin-left: auto;
		  margin-right: auto;
		  max-width: 200px;
	  }

	  .footer-social-icon span {
		text-align: center;
		color: #fff;
		display: block;
		font-size: 20px;
		font-weight: 300;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 20px;
	  }
	  

	  .fblogo {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 40px;
   		height : 40px;
	}
	
	#images{
		text-align:center;
	}

	.footer-widget-heading h3 {
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 20px;
		margin-top: 20px;
		position: relative;

		text-align: center;
	  }

	  .footer-text p {
		margin-bottom: 14px;
		font-size: 14px;
		color: #7e7e7e;
		line-height: 28px;
		text-align: center;
	  }
	  .footer-cta {
		margin-left : 22%;
	  }

	  

  .cta-text span {
	color: #757575;
	font-size: 12px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px){
	.footer-logo {
		margin-bottom: 30px;
	  }
	  .footer-logo img {
		  
		  display: block;
 		 margin-left: auto;
		  margin-right: auto;
		  max-width: 200px;
	  }

	  .footer-social-icon span {
		text-align: center;
		color: #fff;
		display: block;
		font-size: 20px;
		font-weight: 300;
		font-family: 'Poppins', sans-serif;
		margin-bottom: 20px;
	  }
	  

	  .fblogo {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 40px;
   		height : 40px;
	}
	
	#images{
		text-align:center;
	}

	.footer-widget-heading h3 {
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		margin-bottom: 20px;
		margin-top: 20px;
		position: relative;

		text-align: center;
	  }

	  .footer-text p {
		margin-bottom: 14px;
		font-size: 14px;
		color: #7e7e7e;
		line-height: 28px;
		text-align: center;
	  }

	  .footer-cta {
		margin-left : 32%;
	  }


}

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px)  {
	.footer-cta {
		margin-left : auto;
		text-align: center;

		
	  }
	

} 