      <div class="container-fluid">
        <div class="imgDiv ">

            <img id="img1" class="bgImage" src="/assets/images/Event2.jpg" alt="homeimage">
            <img id= "img2" class="bgImage" src="/assets/images/Event_Medium.jpg" alt="homeimage">
                
            </div>
      </div>
     

    <div class="container-fluid">
        <services-link></services-link>
    </div>
       
    

    <div id="imageContainer" class="container-fluid">
        <img id="weddingImage" src="/assets/images/wedding.jpg">
        <div class="centered">
            Wedding Planners
        </div>
    </div>

    <app-testimonial></app-testimonial>
       
