@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }


#img1 {
    display: block;
}
#img2 {
    display: none;
}

#weddingImage {
    filter: brightness(60%) blur(2px);
    /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
}

#imageContainer {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: white;
  letter-spacing: 4px;
  font-weight: bold;
    /* text-decoration-color: white; */
}

img {
    width: 100%;
    height: 100%;
}

.imgDiv {
    height: 100%;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: -9999;
}


/* div {
    position: absolute;
    width: 100%;
    z-index: -9999;
    max-height: 100vh;
    overflow: hidden;
} */

.scroll {
    font-family: 'Montserrat', sans-serif;
    /* margin-top: 80%; */
    position: absolute;
    color: white;
    z-index: 1;
    left: 50%;
    /* top: 100%; */
    /* display: flex;
    justify-content: center; */
    bottom: 1%;
    letter-spacing: 2px;
   
}

.scrollLine {
    margin-top:22px;
    border: 0.1px solid white;
    position: absolute;
    z-index: 1;
    width: 50%;
    /* height: -0.1px; */

    /* height: 10px; */
}

 @media screen and (max-width: 767px) {
     #img1 {
         display: none;
     }
     #img2 {
         display: block;
     }
    .imgDiv {
        
        height: 50%;
    }
}

/* @media screen and (max-width: 575px) {
    .imgDiv {
        height: 50%;
    }
}  */