      <div class="container-fluid">
        <div class="imgDiv ">

            <img id="img1" class="bgImage" src="../../../assets/lamp.jpg" alt="homeimage">
            <div class="centered">
                <h1 data-text="YOUR LUXURY PLANNER">YOUR LUXURY PLANNER</h1>
            </div>
            <!-- <img id= "img2" class="bgImage" src="/assets/images/Event_Medium.jpg" alt="homeimage"> -->
                <div class="scroll">
                    Scroll
                    <!-- <div class="scrollLine">
                        <hr>
                    </div> -->
                </div>
            </div>
      </div>
     

    <div class="container-fluid">
        <services-link></services-link>
    </div>
       
    

    <div id="imageContainer" class="container-fluid">
        <img id="weddingImage" src="/assets/images/wedding.jpg">
        <div class="centered">
            YOUR LUXURY PLANNER
        </div>
    </div>

    <app-testimonial></app-testimonial>
       
