<div>
    <ul class="serv-links">
        <li>
            <a routerLink='personalevent'>Personal Events</a>
        </li>
        <li>
            <a [routerLink]="['organizationalevents']" routerLinkActive="router-link-active" >Organizational</a>
        </li>
        <li>
            <a [routerLink]="['educationalevents']" routerLinkActive="router-link-active" >Educational</a>
        </li>
        <li>
            <a [routerLink]="['toursandtravels']" routerLinkActive="router-link-active" >Tours & Travels</a>
        </li>
    </ul>
</div>