@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: white;
}

.serv-links {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;

    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.serv-links li {
    list-style: none;
}

.serv-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}

.logo{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    padding-right: 1px;
    padding-bottom:5px ;
}

.zoom:hover {
    transform: scale(1.1); 
  }

  /* @media only screen and (max-width: 600px) {

  } */

  /* @media (max-width: 600px) {
.serv-links {
    padding-top: 10px;
    display: block;
    justify-content: space-around;
    width: 100%;

    font-family: 'Montserrat', sans-serif;
    align-items: center;
}
   
} */

@media only screen and (min-width: 300px) and (max-width: 768px) {

    * {
        padding: 0px 0px 0px 0px;
        /* margin-left: auto; */
        align-items: center;
        /* margin-right: auto; */
        /* margin-left: auto; */
    }

    .serv-links{
        display: block;
        justify-content: center;
        line-height: 2em;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        /* margin-left: auto;
        margin-right: auto; */
        align-items: center;

        /* margin-left: auto;
        margin-right: auto; */
        /* align-items: center; */
    }

    .serv-links li a {
        font-size: small;
        font-weight: lighter;
        font-size: small;
        align-items: center;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .serv-links ul {
        /* text-align: center; */
        /* margin-left: auto;
        margin-right: auto; */
        align-items: center;

    }


    .container-fluid {
        display: block;
        align-items: center;
        /* justify-content: space-around;
        align-items: center; */
        min-height: 15vh;
        background-color: white;
        /* margin-left: auto;
        margin-right: auto; */
    }

    /* .centerServ {
        margin-left: auto;
        margin-right: auto;
    } */

    

}

