<div class="conatiner-fluid">
    <div class="row">
        <img src= "../../../assets/conatct_cover.jpg" alt ='cover_image' class='cover img-fluid '>

    </div>
</div>

<div class="conatiner-fluid ">
    <div class="row ">
        
        <div class="col  ">

            <div class="space">
                <p >About</p>
            </div>
            
        </div>
        <div class="col  ">
            <div class="space-left">
                <p>ABOUT VENICE FIRST AND THE FOUNDER ELEONORA RIODA</p>
            </div>

            
        </div>
    </div>

    <div class="row ">
        
        <div class="col  ">
            <div class="space">
                <p >Deventure Select</p>
            </div>
            
        </div>
        <div class="col ">
            <div class = "text space-left">
                <p>Venice First Events was founded in 2009 in Venice by Eleonora Rioda. Our unforgettable and beloved founder, Eleonora, began her journey as a luxury tour operator and her passion for planning, meticulous details and organization led Venice First to become one of the leaders for high-end and exclusive events in Venice and all over Italy.</p>
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3 mr-3">
            <div class= 'vertical-line '> </div>
           
        </div> 
        
        <div class="col">
            <div class="mt-5 pt-4 texts">
                <p>
                    The Venice First Team’s goal is to leave your guests satisfied with the beauty of Venice and the event you put together.
The office is now composed of a team of professionals who come from different industries and experiences, and together they represent the perfect team: from the Hôtellerie to the Accounting, from the luxury travel services to the DMC.
Teamwork is the key to our success!
Venice First will ensure an outstanding Event and fulfill even the most challenging requests by creating workable solutions for a smooth and uninterrupted day. The team creates exclusive events that exceed the expectations of every individual guest and will make sure every detail is accounted for with a concierge-style approach.

With a friendly and trustful team environment, many International Companies and important personalities have relied on Venice First to put on exclusive luxury events in the heart of Venice, Italy. And with Italy as a fabulous backdrop, anything is possible. Venice First invites you to create your unforgettable experience!

Our important network of relationships and partnerships with local, national and international suppliers and leaders, will make our events so special.
                </p>
            </div>
        </div>
    </div>
</div>


