@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/* .conatiner-fluid{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
  } */
  .cover {
    /* display: block; */
    width: 100vw;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    /* max-height: 90%; */
    margin-bottom: 20px;
  }

  .space{
    overflow-x: hidden;
    /* margin-left: 10%; */
    text-align: center;
    /* padding-left: 10%; */

  }
  .text {
    width: 60%;
    font-size: 0.8rem;
    overflow: hidden;
    
  }
  .texts {
    width: 75%;
    font-size: 0.8rem;
    overflow:hidden;
    
  }
  .text {
    width: 60%;
    font-size: 0.8rem;
    overflow: hidden;
    
  }
  .padding-0{
    padding-right:0;
    padding-left:0;
    
  }

  div.vertical-line{
    margin-top: 8%;
    width: 1px;
    background-color: black;
    height: 270px;
    float: right;
    border: 0.5px ridge black ;
    border-radius: 1px;
    margin-left: 10%;
    /* padding-right: 2px; */
  }

  .aboutHeading {
    font-weight: bold;
  }

  .leftTitle {
    font-weight: bolder;
    letter-spacing: 2px;
    padding-top: 10px;
  }


  @media only screen and (min-width: 300px) and (max-width: 768px) {
    
  }