*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.image{
  height: 93vh;
  width: 100vw;
}
.ht{
    height : 60vh;

}
.mar{
    margin-top: 50px;
    margin-bottom: auto;
}
.mar1{
    margin-top: 18%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.text {
  width: 60%;
  font-size: 0.8rem;
  overflow: hidden;
  
}
.padding{
    margin-top: 25%;
    margin-left: 25%;
}

.padding-0{
  padding-right:0;
  padding-left:0;
  
}
 
.clr{
  background-color: #fff3e0;
}

.mydiv{
  width:100%;
  height:100%;
  background:#fff3e0
}

.connect{
    margin-left: auto;
    margin-right: auto;
}










/* 
.fa-code{
  color: #e54d26;
  font-size: 4rem;
  margin:1rem;
}
.fa-bold{
  color: #563d7c;
  font-size: 4rem;
  margin:1rem;
}
.fa-css3{
  color: #2163af;
  font-size: 4rem;
  margin:1rem;
}
.padding{
  padding-bottom: 2rem;
} */
