<!-- Section 1 -->
<div class="container-fluid">
    <div class="row padding-0">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-0">
            <img src='../../../assets/story.jpg' class='img-fluid image '>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 clr ">
            <div class='mar padding text'>
                <h5> NO. 1</h5>
                <hr class = 'w-25'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, cupiditate voluptatibus necessitatibus nostrum qui in quis sapiente corporis, provident minus illum? Praesentium nam tenetur eveniet eius temporibus quidem natus autem.</p>
            </div>
        </div>
    </div>
</div>

<!-- Section 2 -->
<div class="container-fluid ht marginB">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class='mar1 text'>
                <h5> NO. 2</h5>
                <hr class = 'w-25'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, cupiditate voluptatibus necessitatibus nostrum qui in quis sapiente corporis, provident minus illum? Praesentium nam tenetur eveniet eius temporibus quidem natus autem.</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class='mar1 text'>
                <h5> NO. 3</h5>
                <hr class = 'w-25'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, cupiditate voluptatibus necessitatibus nostrum qui in quis sapiente corporis, provident minus illum? Praesentium nam tenetur eveniet eius temporibus quidem natus autem.</p>
            </div>
        </div>

    </div>
</div>

<!-- Section 3 -->
<div class="container-fluid">
    <div class="row padding-0">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-0">
            <img src='../../../assets/story.jpg' class='img-fluid image '>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 clr ">
            <div class='mar padding text'>
                <h5> NO. 4</h5>
                <hr class = 'w-25'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, cupiditate voluptatibus necessitatibus nostrum qui in quis sapiente corporis, provident minus illum? Praesentium nam tenetur eveniet eius temporibus quidem natus autem.</p>
            </div>
        </div>
    </div>
</div>


<!-- Section 4 -->

<div class="container-fluid ht ">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class='mar1 text'>
                <h5> NO. 5</h5>
                <hr class = 'w-25'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, cupiditate voluptatibus necessitatibus nostrum qui in quis sapiente corporis, provident minus illum? Praesentium nam tenetur eveniet eius temporibus quidem natus autem.</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class='mar1 text'>
                <h5> NO. 6</h5>
                <hr class = 'w-25'>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, cupiditate voluptatibus necessitatibus nostrum qui in quis sapiente corporis, provident minus illum? Praesentium nam tenetur eveniet eius temporibus quidem natus autem.</p>
            </div>
        </div>

    </div>
</div>